<div class="centeredContent">

  <button mat-raised-button color="primary" style="margin: 20px" routerLink="/create-travel-package">
    Create Travel Package
  </button>

  <br>

  <button mat-raised-button color="primary" style="margin: 20px" routerLink="/update-travel-package">
    Update Travel Package
  </button>

  <br>

  <button mat-raised-button color="primary" style="margin: 20px" routerLink="/create-booking">
    Create Booking
  </button>

  <br>

  <button mat-raised-button color="primary" style="margin: 20px" routerLink="/update-booking">
    Update Booking
  </button>

  <br>

  <button mat-raised-button color="primary" style="margin: 20px" routerLink="/get-report">
    Get Report
  </button>

  <br>

  <button *ngIf=" loggedUser != null " mat-raised-button color="primary" style="margin: 20px" (click)="logout()">
    Logout
  </button>
</div>



